<?xml version="1.0"?>
<config>
    <modules>
        <Parassood_Orderexporter>
            <version>0.0.2</version>
        </Parassood_Orderexporter>
    </modules>
    <global>
        <models>
            <orderexporter>
                <class>Parassood_Orderexporter_Model</class>
                <resourceModel>orderexporter_resource</resourceModel>
            </orderexporter>
            <orderexporter_resource>
                 <class>Parassood_Orderexporter_Model_Resource</class>
                <entities>
                    <exportorders>
                        <table>orderexport_marked_orders</table>
                    </exportorders>
                </entities>
            </orderexporter_resource>
        </models>
        <resources>
            <orderexporter_setup>
                <setup>
                    <module>Parassood_Orderexporter</module>
                    <class> Mage_Core_Model_Resource_Setup</class>
                </setup>
            </orderexporter_setup>
        </resources>
        <blocks>
            <orderexporter>
                <class>Parassood_Orderexporter_Block</class>
            </orderexporter>
        </blocks>
        <helpers>
            <orderexporter>
                <class>Parassood_Orderexporter_Helper</class>
            </orderexporter>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <orderexport_order_obsever>
                        <type>singleton</type>
                        <class>orderexporter/observer</class>
                        <method>registerNewOrder</method>
                    </orderexport_order_obsever>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <admin_add_exporttype>
                        <type>singleton</type>
                        <class>orderexporter/observer</class>
                        <method>addExportTypeToGrid</method>
                    </admin_add_exporttype>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <orderexporter after="Mage_Adminhtml">Parassood_Orderexporter</orderexporter>
                </modules>
            </args>
        </adminhtml>
    </routers>
    </admin>
    <default>
        <orderexporter>
            <orderexport_settings>
                <active>1</active>
                <grid_filter>0</grid_filter>
                <hour_export>1</hour_export>
                <file></file>
            </orderexport_settings>
        </orderexporter>
    </default>
    <default_fields>
        <entities>
            <sales_order>
                <fields>
                   <increment_id>
                     <label>Order Id</label>
                     <sort_order>1</sort_order>
                    </increment_id>
                    <created_at>
                        <label>Created At</label>
                        <sort_order>2</sort_order>
                    </created_at>
                </fields>
            </sales_order>
            <product>
                <fields>
                    <name>
                        <label>Product Name</label>
                        <sort_order>3</sort_order>
                    </name>
                </fields>
            </product>
            <sales_order_item>
                <fields>
                    <sku>
                        <label>SKU</label>
                        <sort_order>4</sort_order>
                    </sku>
                    <price>
                        <label>Price</label>
                        <sort_order>5</sort_order>
                    </price>
                    <qty_ordered>
                        <label>Ordered Quantity</label>
                        <sort_order>6</sort_order>
                    </qty_ordered>
                    <discount_amount>
                        <label>Item Discount</label>
                        <sort_order>7</sort_order>
                    </discount_amount>
                </fields>
            </sales_order_item>
            <shipping_address>
                <fields>
                    <street>
                        <label>Shipping Address</label>
                        <sort_order>8</sort_order>
                    </street>
                    <telephone>
                        <label>Telephone</label>
                        <sort_order>9</sort_order>
                    </telephone>
                    <firstname>
                        <label>Customer First Name</label>
                        <sort_order>10</sort_order>
                    </firstname>
                </fields>
            </shipping_address>
            <billing_address>
                <fields>
                    <street>
                        <label>Billing Address</label>
                        <sort_order>11</sort_order>
                    </street>
                    <firstname>
                        <label>Billing First Name</label>
                        <sort_order>12</sort_order>
                    </firstname>
                </fields>
            </billing_address>
            <sales_payment>
                <fields></fields>
            </sales_payment>
        </entities>
    </default_fields>
</config>


