<?xml version="1.0"?>
<config>
    <modules>
        <Parassood_Orderexporter>
            <version>0.0.1</version>
        </Parassood_Orderexporter>
    </modules>
    <global>
        <models>
            <orderexporter>
                <class>Parassood_Orderexporter_Model</class>
                <resourceModel>orderexporter_resource</resourceModel>
            </orderexporter>
            <orderexporter_resource>
                 <class>Parassood_Orderexporter_Model_Resource</class>
                <entities>
                    <exportorders>
                        <table>orderexport_marked_orders</table>
                    </exportorders>
                </entities>
            </orderexporter_resource>
        </models>
        <resources>
            <orderexporter_setup>
                <setup>
                    <module>Parassood_Orderexporter</module>
                    <class> Mage_Core_Model_Resource_Setup</class>
                </setup>
            </orderexporter_setup>
        </resources>
        <blocks>
            <orderexporter>
                <class>Parassood_Orderexporter_Block</class>
            </orderexporter>
        </blocks>
        <helpers>
            <orderexporter>
                <class>Parassood_Orderexporter_Helper</class>
            </orderexporter>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <orderexport_order_obsever>
                        <type>singleton</type>
                        <class>orderexporter/observer</class>
                        <method>registerNewOrder</method>
                    </orderexport_order_obsever>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <admin_add_exporttype>
                        <type>singleton</type>
                        <class>orderexporter/observer</class>
                        <method>addExportTypeToGrid</method>
                    </admin_add_exporttype>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderexporter>
                                            <title>Order Exporter</title>
                                        </orderexporter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <orderexporter after="Mage_Adminhtml">Parassood_Orderexporter</orderexporter>
                </modules>
            </args>
        </adminhtml>
    </routers>
    </admin>
</config>


