<?xml version="1.0"?>
<config>
<sections>
    <orderexporter translate="label" module="orderexporter">
        <label>Order Exporter Settings</label>
        <tab>sales</tab>
        <frontend_type>text</frontend_type>
        <sort_order>301</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>0</show_in_website>
        <show_in_store>0</show_in_store>
        <groups>
            <orderexport_settings translate="label">
                <label>Hourly Order Exporter Settings</label>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                <fields>
                    <active translate="label">
                        <label>Enabled</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                    </active>
                    <grid_filter translate="label">
                        <label>Use Grid filters</label>
                        <comment>Set Yes to use default order grid filters in export than hourly export.</comment>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                    </grid_filter>
                    <hour_export translate="label">
                        <label>Hour Limit</label>
                        <comment> <![CDATA[
						Set the number of hours to extract orders from, default 1.<br/>
						Value should be a positive integer.]]>
                        </comment>
                        <frontend_type>text</frontend_type>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                    </hour_export>
                    <file translate="label comment">
                        <label> Custom Orderexporter XML configuration File</label>
                        <comment><![CDATA[File saved in <strong><span style="color: red;">var/uploads</span></strong> folder. <br/>
                                   The file should be in XML format following a structure similar to the sample configuration file. <br/>
                                   For further clarity see sample XML configuration file comments.]]></comment>
                        <frontend_type>file</frontend_type>
                        <backend_model>orderexporter/system_config_backend_file</backend_model>
                        <upload_dir>var/uploads</upload_dir>
                        <sort_order>50</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                    </file>
                    <download translate="label comment">
                        <label>View Sample Configuration XML</label>
                        <frontend_type>button</frontend_type>
                        <comment>Click to view sample Orderexporter xml configuration file.</comment>
                        <frontend_model>orderexporter/adminhtml_button</frontend_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                    </download>
                </fields>
            </orderexport_settings>
        </groups>
    </orderexporter>
</sections>
</config>